/*------------------------------------------------------  Main Page ------------------------------------------------------*/
.main-page {
  display: flex;
  flex-direction: row;
  height: 95vh;
}

.main-content {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 20px;
  flex-grow: 1;
  height: 100%;
}

/*------------------------------------------------------  Sidebar ------------------------------------------------------*/
.sidebar {
  /* width: 33.333%; */
  height: auto;
  padding: 4rem 2rem;
  background-color: #292524;
  color: #f5f5f4;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 768px) {
  .sidebar {
    width: 18rem;
  }
}

.sidebar-title {
  margin-bottom: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.5rem;
  color: #a8a29e;
}

/*------------------------------------------------------  Profile Picture ------------------------------------------------------*/
.profile-picture {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 2rem;
  align-items: center;
}

/*------------------------------------------------------  Sidebar Buttons ------------------------------------------------------*/

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar-button {
  width: 275px;
  height: 40px;
  font-size: 1rem;
  margin-bottom: 2rem;
  border-radius: 5px;
  border: none;
  background-color: #57705b47;
  color: rgb(255, 255, 255);
  transition: background-color 0.3s ease;
}

.sidebar-button:hover {
  background-color: #57534e;
  color: #f5f5f4;
}

/*------------------------------------------------------  PDF ------------------------------------------------------*/
.pdf {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -50px;
  overflow-y: auto;
  max-height: 100%;
  max-width: 100%;
}

.pdfscaling {
  padding-top: 3rem;
  transform-origin: top left;
  max-height: 100%;
  max-width: 100%;
}

.pdf .page-control-button {
  background-color: #0f291398;
  font-size: 1rem;
  color: rgb(255, 255, 255);
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 10rem;
}

.pdf .page-control-button:hover {
  background-color: #00b342a4;
}

/*-------------------------------------------------------  Cover Letter -----------------------------------------------*/
.cover-letter-container {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 99%;
  height:99%;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #f4f4f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cover-letter {
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */

  padding-left: 20px;
  padding-right: 20px;
  max-height: 99%;
  overflow-y: auto;
  font-family: 'Georgia', serif;
  font-size: 20px;
  line-height: 1.6;
  white-space: pre-wrap;
}

/*-------------------------------------------------------  Courses ---------------------------------------------------*/
.courses {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: -20px;
}