/*------------------------------------------------------  Main Page ------------------------------------------------------*/
.main-page {
  display: flex;
  flex-direction: row;
  height: 100vh;
  /* gap: 10px; */
}

.main-content {
  margin: 20px;
  border-radius: 20px;
  flex-grow: 1;
  height: 100%;
}

/*------------------------------------------------------  Sidebar ------------------------------------------------------*/
.sidebar {
  width: 33.333%;
  height: auto;
  padding: 4rem 2rem;
  background-color: #292524;
  color: #f5f5f4;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 768px) {
  .sidebar {
    width: 18rem;
  }
}

.sidebar-title {
  margin-bottom: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.5rem;
  color: #a8a29e;
}

/*------------------------------------------------------  Profile Picture ------------------------------------------------------*/
.profile-picture {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 2rem;
  align-items: center;
}

/*------------------------------------------------------  Sidebar Buttons ------------------------------------------------------*/

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar-button {
  width: 250px;
  height: 50px;
  font-size: 1rem;
  margin-bottom: 2rem;
  border-radius: 0.375rem;
  background-color: #44403c;
  color: #a8a29e;
}

.sidebar-button:hover {
  background-color: #57534e;
  color: #f5f5f4;
}

/*------------------------------------------------------  PDF ------------------------------------------------------*/
.pdf {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-top: -70px; */
  height: 100%;
  overflow-y: auto;
}

.pdf .page-control-button {
  background-color: #57705b7b;
  font-size: 1rem;
  color: rgb(255, 255, 255);
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 10rem;
}

.pdf .page-control-button:hover {
  background-color: #00b342a4;

}